<div>
  <%= image_tag post.image, class:"w-50" %>
  <div class="container mt-5">
    <h2><%= post.titre %></h2>
    <p><%= post.contenu %></p>
    <p><%= post.réalisateur %></p>
    <p><%= post.genre %></p>
    <p><%= post.sortie %></p>

    <p><%= post.auteur %></p>
    <p><%= post.date %></p>
  </div>
</div>
