<div class="d-flex">
  <%= image_tag post.image, class:"w-50" %>
  <div class="container">
    <h2><%= post.titre %></h2>
    <p><%= post.contenu %></p>
    <p><%= post.réalisateur %> • <%= post.genre %></p>
    <p><b>Date de sortie : </b><%= post.sortie %></p>
    <hr/>
    <p><%= post.auteur %> • <%= post.date %></p>
  </div>
</div>
