<div class="card w-35">
  <%= image_tag post.image %>
  <div class="container">
    <h2><%= post.titre %></h2>
    <p class="text-wrap"><%= post.contenu %></p>
    <p><%= post.réalisateur %></p>
    <p><%= post.genre %></p>
    <p><%= post.sortie %></p>

    <p><%= post.auteur %></p>
    <p><%= post.date %></p>
  </div>
</div>
