<div id="<%= dom_id post %>">
  <p>
    <strong>Titre:</strong>
    <%= post.titre %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= post.date %>
  </p>

  <p>
    <strong>Contenu:</strong>
    <%= post.contenu %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= post.image %>
  </p>

  <p>
    <strong>Réalisateur:</strong>
    <%= post.réalisateur %>
  </p>

  <p>
    <strong>Sortie:</strong>
    <%= post.sortie %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= post.genre %>
  </p>

  <p>
    <strong>Auteur:</strong>
    <%= post.auteur %>
  </p>

</div>
