<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<button class="btn btn-primary"><%= link_to "New post", new_post_path, class:"text-light text-decoration-none" %></button>

<div id="posts" class="d-flex flex-wrap mt-3 justify-content-center">
  <% @posts.each do |post| %>
    <div class="card col-md-4 mx-1 mt-4">
      <%= image_tag post.image %>
      <div class="card-body">
        <h2><%= post.titre %></h2>
        <p class="text-truncate"><%= post.contenu %></p>
        <p><%= post.réalisateur %></p>
        <p><%= post.genre %></p>
        <p><%= post.sortie %></p>
      </div>
      <hr/>
      <div class="card-body">
        <p><%= post.auteur %> • <%= post.date %></p>
        <p><button type="button" class="btn btn-light border-dark"><%= link_to "Show this post", post, class:"text-dark text-decoration-none" %></button></p>
      </div>
    </div>
  <% end %>
</div>
