<p style="color: green"><%= notice %></p>

<section class="text-light bg-dark"> 
  <div class="col-lg-12 d-flex flex-column px-5 justify-content-center align-items-start vh-100">
    <h2>Bienvenue sur Posters !</h2>
    <p class="w-50">
      Notre blog est dédié aux meilleurs posters de film de tous les temps !
      Ici, nous avons pour objectif de rassembler les posters de films les plus iconiques, les plus originaux et les plus créatifs jamais créés. Des classiques du cinéma aux films contemporains, en passant par tous les genres et tous les styles, notre blog présente une sélection variée de posters qui ont marqué l'histoire du cinéma.
      Que vous soyez un cinéphile passionné ou simplement intéressé par le design graphique, notre blog est l'endroit idéal pour découvrir et apprécier les meilleurs posters de film de tous les temps. Abonnez-vous dès maintenant pour ne manquer aucun de nos articles.
    </p>
  </div>
  <div class="d-flex justify-content-center align-items-middle mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
    </svg>
  </div>
</section>

<h1>Posts</h1>

<button class="btn btn-primary"><%= link_to "New post", new_post_path, class:"text-light text-decoration-none" %></button>

<div id="posts" class="d-flex flex-wrap mt-3 justify-content-center">
  <% @posts.each do |post| %>
    <div class="card col-md-4 mx-1 mt-4">
      <%= image_tag post.image %>
      <div class="card-body">
        <h2><%= post.titre %></h2>
        <p class="text-truncate"><%= post.contenu %></p>
        <p><%= post.réalisateur %></p>
        <p><%= post.genre %></p>
        <p><%= post.sortie %></p>
      </div>
      <hr/>
      <div class="card-body">
        <p><%= post.auteur %> • <%= post.date %></p>
        <p><button type="button" class="btn btn-light border-dark"><%= link_to "Show this post", post, class:"text-dark text-decoration-none" %></button></p>
      </div>
    </div>
  <% end %>
</div>
